*{
    transition:all 1s;
    box-sizing: border-box;
}

body{
    font-family:calibri;
    margin: 0;
    padding: 0;
    user-select: none;
    background: rgb(109, 172, 254);
}

table{
    background: slategray;
    margin:auto;

}

td{
    border:rgba(0,0,0,0.25)1px solid ;
    text-align: center;
    font-size: 120%;
    color: white;

}